<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CRUD_Operations_Angular</title>
    <base href="~/" />
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css"/>

    @*<link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />*@
</head>
<body>
    @RenderBody()
    
    @RenderSection("scripts", required: false)
    <script type="text/javascript" src="/lib/jQuery/dist/jquery.js"></script>
    <script type="text/javascript" src="lib/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>
