<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse bg-faded">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" [routerLinkActive]="['active']"><a [routerLink]="['projects']">Projects</a></li>
            <li class="nav-item" [routerLinkActive]="['active']"><a [routerLink]="['users']">Users</a></li>            
            <li class="nav-item" [routerLinkActive]="['active']"><a [routerLink]="['create']">Create</a></li>
        </ul>
    </div>
</nav>